.container-fluid {
    background-image: url(/css/old-books-with-white-background-and-copy-space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
}

tbody, td, tfoot, th, thead, tr {
    border-style: none;
}